[user]
	name = D. Can Celasun
	email = <omitted>
	signingkey = FA03860D7B4C3986
[push]
	default = simple
	followTags = true
[core]
	autocrlf = input
[merge]
	tool = meld
[commit]
	gpgsign = true
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool]
	prompt = false
